@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
/* font-family: 'Londrina Sketch', cursive; */

* {
    box-sizing: border-box;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0041f5;
}

header {
    background-color: rgb(5, 145, 226);
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    font-size: 25px;
}

section {
    margin-left: 170px;
    height: 70%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    font-size: large;
    color: #ffffff;
    margin-top: 120px;
    padding: 15%;
    background-color: #27bdd8;
    border-style: none;
    border-radius: 6px;
    transition: 200ms;
}
button:hover {
    background-color: #70c8d8;
    cursor: pointer;
}
button:active {
    background-color: #00a9c7;
}

.container {
    border: 10px solid rgb(51, 159, 248);
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 50%;
    display: grid;
        grid-template-rows: repeat(var(--grid-rows), 1fr);
        grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin-top: -590px;
    margin-left: 550px;

}

.divs {
    border: rgba(105, 105, 105, 0.137) 1px solid;
}

@media (max-width:900px) {
    .container {
        height: 400px;
        width: 400px;
    }
    section {
        height: 400px;
        width: 90px;
    }
    button {
        font-size: small;
        margin: 5px;
        padding: 10px;
    }

}

@media (max-width: 400px) {
    body {
        height: 95vh;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 'buttons'
                                'container';
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 300px;
        width: 300px;
    }
    section {
        grid-area: buttons;
        width: 300px;
        height: 200px;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        align-items: center;
        justify-content: center;
    }
    button {
        width: 200px;
        font-size: small;
        padding: 10px;
        margin-top: 10px;
        margin-right: 0;
        padding: 10px;
        margin-bottom: 0;
    }
}


